
body {
  /* TODO: Change margin of body */
    margin: 0;
    line-height: normal;
    overflow-y: auto; /* Or overflow-y: scroll if needed */
}


:root {
  /* fonts */
  --wwwlaredoutept-poppins-semibold: Poppins;

  /* font sizes */
  --wwwlaredoutept-poppins-semibold-size: 14px;
  --wwwlaredoutept-poppins-semibold-upper-size: 16px;

  /* Colors */
  --wwwlaredoutept-white: #fff;
  --wwwlaredoutept-athens-gray: #f2f4f7;
  --wwwlaredoutept-fiord: #495369;
  --wwwlaredoutept-bunker: #12151b;

  /* Spacing */
  --width-1738-18: 1738.1800537109375px;
  --height-64: 64px;

  --item-spacing-s: 16px;
  --width-123-08: 123.08000183105467px;
  --item-spacing-0: 1.0658141036401504e-14px;

  --width-48: 48px;

  /* Paddings */
  --padding-12xs-9: 0.9px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;
  --padding-3xs-5: 9.5px;
  --padding-xl: 20px;
  --padding-2xs: 11px;
  --padding-2xs-9: 10.9px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-13xl: 32px;
  --br-9xs: 4px;
}
