.component-3-icon {
    width: 104px;
    height: 104px;
}

.link {
    border-radius: 4px;
    display: inline-flex; /* Makes the container shrink-wrap its content */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0; /* Remove any padding that may affect the size */
    box-sizing: border-box; /* Ensures proper box-sizing behavior */
}

.container2 {
    display: inline-flex; /* Shrink-wrap the content horizontally */
    align-items: center; /* Center the child vertically */
    justify-content: center; /* Center the child horizontally */
}

.margin {
    padding: 0px 0px 5px 44px;
    flex-shrink: 0;
}

.left-column-title {
    text-decoration: none;
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: inherit;
    z-index: 0;
}

.horizontal-divider {
    width: 65.22%;
    position: absolute;
    margin: 0 !important;
    right: 17.39%;
    bottom: 6px;
    left: 17.39%;
    background-color: #12151b;
    height: 2px;
    z-index: 1;
}

.component-13 {
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10.9px 12px;
    position: relative;
}

.right-column-title {
    text-decoration: none;
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: inherit;
}

.component-1 {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10.9px 12px;
}

.item1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.list {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.container5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.9px 0px 1.3px;
}

.container7 {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    width: calc(100% - 95.7px);
    top: 13.5px;
    right: 45.7px;
    left: 50px;
    height: 23px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.9px 0px;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 14px;
    color: #12151b;
}

.container9 {
    align-self: stretch;
    width: 884px;
    position: relative;
    display: none;
    max-width: 100%;
}

.container8 {
    position: absolute;
    width: calc(100% - 91.8px);
    top: 13.5px;
    right: 41.8px;
    left: 50px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 3px 0px 0px;
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
}

.component-14 {
    height: 48px;
    flex: 1;
    position: relative;
    backdrop-filter: blur(24px);
    border-radius: 32px;
    background-color: #f2f4f7;
    overflow: hidden;
    max-width: 100%;
    min-width: 60px;
}

.component-20-icon {
    height: 32px;
    width: 32px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 16px);
    left: 12px;
    border-radius: 200px;
    z-index: 2;
}

.search {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
}

.container6 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    max-width: 100%;
}

.margin2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px;
    box-sizing: border-box;
    max-width: 100%;
}

.margin8 {
    align-self: stretch;
    display: none;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7px 0px ;
    box-sizing: border-box;
    max-width: 100%;
}

.container4 {
    align-self: stretch;
    width: 1187px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.margin1 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}
.margin3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    height: 48px;
    text-align: center;
    font-size: 14px;
}

.container-icon {
    height: 32px;
    width: 32px;
    position: relative;
    z-index: 1;
}

.text {
    text-align: center;
    text-decoration: none;
    height: 21px;
    line-height: 21px;
    font-weight: 600;
    color: inherit;
}

.container13 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.9px 0px 1px 8px;
    text-align: center ;
}

.container12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 8px 0px 0px;
    z-index: 0;
}

.component-15 {
    border-radius: 32px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 48px;
}

.container11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-icon1 {
    height: 32px;
    width: 26px;
    position: relative;
}

.component-16 {
    width: 48px;
    border-radius: 32px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 11px;
    box-sizing: border-box;
}

.container10 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    max-width: 100%;
}

.margin-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-end ;
    width: 100%;
}

.component-3-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
}

.container18 {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.text1 {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.64px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: Poppins;
    color: #fff;
    text-align: center;
}

.container19 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px 0px;
}

.component-17 {
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    background-color: #12151b;
    height: 40px;
    flex: 1;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container17 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px;
}

.text2 {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.07px;
    line-height: 21px;
    font-weight: 600;
    color: inherit;
}

.component-18 {
    align-self: stretch;
    border-radius: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 9.5px 16px;
    box-sizing: border-box;
}

.text3 {
    position: relative;
    letter-spacing: 0.07px;
    line-height: 21px;
    font-weight: 600;
}

.itemmargin {
    flex-grow: 1;
    color: #495369;
}

.list1 {
    flex-grow: 1;
    margin: 0;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 7px 8px 8px;
    gap: 16px;
    max-height: 64px;
    max-width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    color: #12151b;
    font-family: Poppins;
}

.navigation-menu-principal {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px;
    box-sizing: border-box;
    width: 100%;
}

.container16 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.margin4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 11px 0px 0px;
    box-sizing: border-box;
    max-width: 102%;
}

.container3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0px 30px;
}

.container1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 0px 0px;
}

.banner {
    flex: 1;
    background-color: #fff;
    border-bottom: 0.9px solid #f2f4f7;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0.9px;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #12151b;
    font-family: Poppins;
}

.banner-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 86.3px;
    box-sizing: border-box;
    max-width: 100%;
}

.b774d9feeedd0cc7052b66f7djpg {
    width: 316.4px;
    position: relative;
    border-radius: 6px 6px 0px 0px;
    background-color: #13151b;
    height: 316.4px;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 316.36px;
}

.picture-source {
    height: 316.4px;
    width: 316.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-card-img {
    width: 316.4px;
    height: 316.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 320px;
    max-height: 540px;
}

.product-card-description-title {
    width: 268.4px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.lampada-de-parede {
    height: 24px;
    width: 209px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container23 {
    width: 208px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.price-without-discount {
    height: 20px;
    width: 70px;
    position: relative;
    text-decoration: line-through;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.discount {
    height: 20px;
    width: 36.7px;
    position: relative;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.product-card-price-container {
    width: 101.5px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7.8px;
}

.div1 {
    height: 20px;
    width: 56px;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.price-final-container {
    width: 268.4px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 4px;
    box-sizing: border-box;
}

.product-card-description {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 62px 24px;
    box-sizing: border-box;
    gap: 4.7px;
}

.product-card {
    height: 526px;
    width: 320px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f6f7f8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.8px 1.8px 207.8px;
    gap: 4px;
    min-width: 320px;
    max-width: 320px;
}

.producth {
    width: 320px;
    height: 527px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 1px;
    box-sizing: border-box;
}

.producth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1px 0px 0px;
}

.picture-source1 {
    height: 316.4px;
    width: 316.4px;
    position: relative;
    object-fit: cover;
}

.la-redoute-interieurs {
    height: 20px;
    width: 165px;
    position: relative;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.aplique-em-metal {
    height: 24px;
    width: 245px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.product-card-description-text {
    width: 244px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 16px;
}



.parent {
    width: 101.5px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11.8px;
}

.div4 {
    height: 20px;
    width: 55px;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.title-product {
    height: 20px;
    width: 170px;
    position: relative;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.description {
    width: 243px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container33 {
    width: 260px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.container31 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 37px 24px;
    box-sizing: border-box;
    gap: 5px;
}

.producth2 {
    height: 527px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 1px;
    box-sizing: border-box;
    z-index: 2;
}

.aplique-ajustvel-em {
    width: 236px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container38 {
    width: 236px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.div9 {
    height: 20px;
    width: 52px;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container36 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 39px 24px;
    box-sizing: border-box;
    gap: 4.3px;
}

.producth-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0px 0px;
}



.container-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px 35.8px 26px;
    box-sizing: border-box;
    max-width: 100%;
}

.subtitle {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0.8px;
    box-sizing: border-box;
    
}

.image-icon {
    width: 100%;
    flex: 1;
    border-radius: 8px;
    max-width: 1376px;
    overflow: hidden;
    max-height: 604px;
    object-fit: cover;
    min-height: 604px;
}

.image-icon1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.container41 {
    width: 1376px;
    background-color: #fff;
    
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.container-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 21px 100px 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 33px;
    color: #12151b;
    font-family: Poppins;
}

.abajur-de-teto {
    width: 213px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container45 {
    width: 213px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.price-final {
    height: 20px;
    width: 61px;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container43 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 41.1px 24px;
    box-sizing: border-box;
    gap: 3.6px;
}

.link5 {
    height: 526px;
    width: 320px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f6f7f8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.8px 1.8px 207.8px;
    gap: 4.1px;
    min-width: 320px;
    max-width: 320px;
}

.producth4 {
    height: 527px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 1px;
    box-sizing: border-box;
}

.abajur-de-teto1 {
    width: 260px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container50 {
    width: 260px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.span {
    font-weight: 600;
}

.a-partir-de-container1 {
    width: 100%;
}

.a-partir-de-container {
    height: 20px;
    width: 135px;
    position: relative;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.candeeiro-de-teto {
    width: 265px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container55 {
    width: 265px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.div14 {
    height: 20px;
    width: 63px;
    position: relative;
    text-decoration: line-through;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.parent1 {
    width: 101.5px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.8px;
}

.abajur-de-teto2 {
    width: 273px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container60 {
    width: 273px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.container58 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 19px 40.1px 24px;
    box-sizing: border-box;
    gap: 4px;
}

.candeeiro-de-teto1 {
    width: 258px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container65 {
    width: 258px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.container63 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 40.1px 24px;
    box-sizing: border-box;
    gap: 4px;
}

.link9 {
    height: 526px;
    width: 320px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f6f7f8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.8px 1.8px 207.8px;
    gap: 4.1px;
    min-width: 320px;
    max-width: 320px;
}

.candeeiro-em-bambu {
    width: 250px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container70 {
    width: 250px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.container68 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 42.1px 24px;
    box-sizing: border-box;
    gap: 3.3px;
}

.abajur-em-linho {
    height: 24px;
    width: 183px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.div28 {
    height: 20px;
    width: 59px;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container73 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 62.1px 24px;
    box-sizing: border-box;
    gap: 4.6px;
}

.candeeiro-de-teto2 {
    width: 264px;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.container80 {
    width: 264px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.container78 {
    width: 316px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 23.6px 39.1px 24px;
    box-sizing: border-box;
    gap: 4.3px;
}

.product-parent {
    display: flex;
    width: 1382.3px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    gap: 34px;
    max-width: 100%;
}

.product-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px 66.8px 26px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 14px;
    color: #12151b;
    font-family: Poppins;
}

.image-pair {
    text-align: center;
    margin: 0;
    position: relative;
    font-weight: 600;
    font-family: inherit;
}

.link13 {
    height: 100%;
    width: 254.09%;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    right: -154.09%;
    bottom: 0px;
    left: 0%;
    display: none;
    min-width: 1738px;
    z-index: 1;
}

.ideas-card {
    flex: 1 1 calc(50% - 8px); /* Each component takes 50% width minus the gap */
    height: 684px;
    border-radius: 8px;
    position: relative;
    gap: 8px;
    min-width: 0; /* Allow flex items to shrink fully */
    max-width: 100%;
    max-height: 684px;
}

.grid-helper{
    width: 1376px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.background-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 21px 100px 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 33px;
    color: #12151b;
    font-family: Poppins;
}

.subtitle-text {
    margin: 0;
    /* Centers the header horizontally */
    position: relative;
    font-size: inherit;
    line-height: normal;
    /* Ensures it only occupies the text height */
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    text-align: center;
    /* Ensures it only takes the size of its content */
}

.container83 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0.8px;
    box-sizing: border-box;
    max-width: 1376px;
}

.margin6 {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 1376px;
}

.linge20de20maisonpng-icon {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
}

.picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.text-articles {
    padding: 0px 10px 0px 0px;
    left: 0px;
    font-size: inherit;
    line-height: 28px;
    font-weight: 600;
    font-family: inherit;
}



.icon-arrow {
    width: 45px;
    height: 44px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.image-fill {
    width: 44px;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.component-6 {
    margin-left: -478.3px;
    height: 292px;
    width: 453.3px;
    border-radius: 4px;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
}

.text9 {
    margin: 0;
    position: absolute;
    top: -0.8px;
    left: 0px;
    font-size: inherit;
    line-height: 28px;
    font-weight: 600;
    font-family: inherit;
}



.container88 {
    width: 453.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 191px;
}

.container90 {
    width: 453.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 193.1px;
}

.ideas-container {
    width: 100%;
    border-radius: 8px;
    overflow: visible; /* Ensure visibility of wrapped items */
    display: flex;
    flex-wrap: wrap; /* Enables wrapping */
    justify-content: space-between; /* Ensures proper spacing between items */
    align-content: flex-start; /* Aligns wrapped rows to the top */
    gap: 8px;
}

.more-articles {
    width: 1376px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.grid {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 21px 100px 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 33px;
    color: #12151b;
    font-family: Poppins;
}

.todas-as-categorias {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 40px;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.link-details {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0px 35px;
    box-sizing: border-box;
    max-width: 100%;
}

.category-names {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}

.component-3-icon5 {
    height: 32px;
    width: 32px;
    position: relative;
}

.component-8 {
    border-radius: 32px;
    background-color: #12151b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.category-text {
    align-self: stretch;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 0.9px solid #f2f4f7;
    box-sizing: border-box;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 19.5px 16px 20.5px 24px;
}

.text11 {
    position: relative;
    line-height: 20px;
}

.component-3-icon6 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    transform: rotate(-180deg);
}

.image-fill3 {
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.image3 {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotate(180deg);
}

.category-see-more-text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
}

.category-see-more {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
}

.category-card{
    width: 320px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f2f4f7;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.9px;
    min-width: 320px;
}

.component-91 {
    width: 320px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f2f4f7;
    box-sizing: border-box;
    height: 149.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.9px;
    min-width: 320px;
}

.category-links-extra {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 336px 0px 0px;
    gap: 16px;
    flex-shrink: 0;
}

.categories-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 15.9px;
    max-width: 100%;
    font-size: 16px;
}

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.categories-wrapper{
    padding: 4px 28px 30px 28px;

    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    max-width: 100%;
    text-align: left;
    font-size: 28px;
    color: #12151b;
    font-family: Poppins;
}

.la-redoute {
    align-self: stretch;
    position: relative;
    line-height: 17.6px;
    text-transform: uppercase;
    font-weight: 600;
}

.heading-3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.component-10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1px 0px 2px;
}

.link-footer {
    position: relative;
    line-height: 15px;
}

.component-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1px 0px 2px;
    gap: 2.2px;
}

.item9 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 19px 0px 0px;
}

.list2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7.1px;
    font-size: 12px;
    font-family: Poppins;
}

.container118 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14.5px;
}

.container116 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 46.2px 96px 24px;
    gap: 20px;
}

.container117 {
    flex: 1 1 calc(25% - 20px); /* Ensure 1/4 of the total width, subtracting gap */
    min-width: 200px; /* Set a minimum width for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 33.4px;
}

.container119 {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.list4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0px;
    gap: 7.1px;
    font-size: 12px;
    font-family: Poppins;
}

.container121 {
    height: 176px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container123 {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 25.3px;
    box-sizing: border-box;
}

.horizontal-divider1 {
    height: 1px;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: -30px;
    left: 0px;
    background-color: #fff;
}

.component-1014 {
    height: 15.9px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0.9px;
    box-sizing: border-box;
    font-size: 10px;
}

.div32 {
    margin-bottom: -1.9px;
    position: relative;
    line-height: 21px;
}

.text40 {
    height: 15px;
    width: 165px;
    position: relative;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.component-1015 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 0.9px;
    font-size: 10px;
}

.item22 {
    height: 17.3px;
    width: 192px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.6px 8px 0px;
    box-sizing: border-box;
    gap: 7.7px;
}

.item23 {
    height: 17.3px;
    width: 191.5px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.6px 8px 0px;
    box-sizing: border-box;
    gap: 7.6px;
}

.text42 {
    height: 15px;
    width: 160px;
    position: relative;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.item24 {
    height: 17.3px;
    width: 187px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.6px 8px 0px;
    box-sizing: border-box;
    gap: 7.6px;
}

.text43 {
    height: 15px;
    width: 130px;
    position: relative;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.item25 {
    height: 17.3px;
    width: 157.3px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.6px 8px 0px;
    box-sizing: border-box;
    gap: 7.7px;
}

.footer-links {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 3.2px;
}

.footer-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.8px 0px 0px;
    box-sizing: border-box;
    max-width: 100%;
}

.icon-arrow1 {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.image-fill11 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.6px 0px 2.7px;
}

.portugal {
    position: relative;
    line-height: 18px;
    font-weight: 600;
}

.icon-arrow2 {
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.image-fill12 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margin7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0px 0px 4px;
}

.combobox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0px;
}

.comboboxmargin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 4px;
}

.container125 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    gap: 20px;
}

.container-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 48px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 12px;
    font-family: Poppins;
}

.footer {
    align-self: stretch;
    background-color: #00565f;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 29.9px;
    box-sizing: border-box;
    gap: 30px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: "Barlow Condensed";
}

.container {
    height: 5106px;
    position: relative;
    width: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 50px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 14px;
    color: #12151b;
    font-family: Poppins;
}

.container85 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 292px;
}


.more-articles-container {
    display: flex; /* Shrink-wrap the content based on children */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px; /* Space between children */
    font-size: 19px;
    border-radius: 8px;
    padding: 0; /* Remove any padding that might inflate the size */
    width: 100%;
}

.articles {
    border-radius: 8px;
    background-color: #f6f6f8;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 292px;
}

.figure {
    align-items: center;
}

.articles-text {
    min-height: 94px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.articles-text-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image {
    width: 44px;
    height: 44px;
    min-width: 44px;
}

@media screen and (max-width: 1650px) {

    .product-parent {
        flex-wrap: wrap;
    }

    .image-icon {
        max-width: 100%;
    }

    .ideas-container {
        max-width: 100%;
    }

    .container83 {
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .subtitle {
        max-width: 100%;
        align-self: center;
    }

    .margin6 {
        max-width: 100%;
        align-self: center;
    }

    .more-articles-container {
        flex-wrap: wrap;
    }

    .category-links-extra {
        flex-wrap: wrap;
    }

    .container {
        height: auto;
    }
}

@media screen and (max-width: 1300px) {
    .product-wrapper {
        padding-bottom: 43px;
        box-sizing: border-box;
    }

    .background-wrapper {
        padding-bottom: 65px;
        box-sizing: border-box;
    }

    

    .category-links-extra {
        padding-right: 168px;
        box-sizing: border-box;
    }

    .container116 {
        padding-left: 48px;
        padding-right: 48px;
        box-sizing: border-box;
    }

    .container125 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px) {
    .product-parent {
        gap: 17px;
    }

    .container41 {
        padding-left: 87px;
        padding-right: 87px;
        box-sizing: border-box;
    }

    .container40 {
        padding-top: 32px;
        padding-bottom: 32px;
        box-sizing: border-box;
    }

    .producth-parent {
        gap: 17px;
    }

    .product-wrapper {
        padding-bottom: 28px;
        box-sizing: border-box;
    }

    .ideas-card {
        min-width: 100%;
    }

    .grid-helper{
        padding-left: 87px;
        padding-right: 87px;
        box-sizing: border-box;
    }

    .subtitle-text {
        font-size: 26px;
        line-height: 38px;
    }

    

    .category-links-extra {
        padding-right: 84px;
        box-sizing: border-box;
    }

    .container116 {
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .container-container {
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .container41 {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .container40 {
        padding-top: 21px;
        padding-bottom: 21px;
        box-sizing: border-box;
    }

    .grid-helper{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .background-wrapper {
        padding-bottom: 42px;
        box-sizing: border-box;
    }

    .subtitle-text {
        font-size: 20px;
        line-height: 29px;
    }

    
    .grid {
        padding-bottom: 65px;
        box-sizing: border-box;
    }

    .todas-as-categorias {
        font-size: 22px;
        line-height: 32px;
    }

    .category-links-extra {
        padding-right: 20px;
        box-sizing: border-box;
    }

    .container {
        gap: 25px;
    }
}



@media screen and (max-width: 1444px) {
    .container12{
        display: none;
    }
}

@media screen and (max-width: 841px) {
    .margin4 {
        display: none;
    }
    .margin2 {
        display: none;
    }

    #favorite {
        display: none;
    }
    .margin8 {
        display: flex;
    }
    .margin {
        padding: 0px 0px 5px 10px;
    }
}

@media screen and (max-width: 400px) {
    .margin3{
        display: none;
    }
    .container7{
        display: none;
    }
    
}
